.podcast__grid-container {
  width: 100%;
  padding: 20px 0;
}

.podcast__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}



/* Responsive adjustments */
@media (max-width: 992px) {
  .podcast__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .podcast__grid {
    grid-template-columns: 1fr;
  }
}
