/* frontend/src/header.css */

.header {
  /* Use a semi-transparent color for the background */
  background-color: rgba(var(--background-secondary-rgb), 0.8);
  /* Apply a blur filter to the background */
  backdrop-filter: blur(10px);

  color: var(--text-primary);
  box-shadow: var(--box-shadow-light);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  transition: background-color 0.3s ease, color 0.3s ease,
    backdrop-filter 0.3s ease;
}

.header__logo {
  max-width: 150px;
  max-height: 80px;
  filter: var(--logo-filter);
}

.header__subtitle {
  font-size: 1.2rem;
  margin-top: 5px;
  margin-bottom: 25px;
  color: var(--text-secondary);
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.header__buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  cursor: pointer;
}

.header__user {
  color: var(--text-secondary);
  text-decoration: none;
}

.header__primary-button,
.header__secondary-button {
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  color: var(--text-secondary);
}

.header__primary-button:hover,
.header__secondary-button:hover {
  background-color: var(--border-color);
  transform: translateY(-2px);
}

.theme-toggle-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 5px;
  transition: transform 0.2s ease;
  color: var(--text-primary);
}

.theme-toggle-button:hover {
  transform: scale(1.1);
}

/* --- Media Queries --- */
@media (max-width: 992px) {
  .header {
    flex-direction: column;
    gap: 15px;
    padding: 15px;
  }
}

@media (max-width: 576px) {
  .header__logo {
    max-width: 120px;
    max-height: 60px;
  }
}
