/* frontend/src/blocks/input.css */

.input__container {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.custom__input {
  width: 100%;
  min-height: 50px; /* Use px for better control */
  padding: 10px 20px;
  font-size: 1rem;
  color: var(--text-primary);
  background-color: var(--background-secondary);
  border: none; /* Neumorphic design uses shadows instead of borders */
  border-radius: 25px;
  box-shadow: inset 5px 5px 10px var(--border-color),
    inset -5px -5px 10px var(--background-secondary);
  transition: all 0.3s ease;
}

.custom__input:focus {
  outline: none;
  background-color: var(--background-primary);
  box-shadow: 0 0 0 3px var(--accent-color);
}

/* Specific styles for the search input */
.custom__input-search {
  min-width: 40vw;
  padding-left: 50px; /* Add extra padding for a search icon if needed */
}

.custom__input::placeholder {
  color: var(--text-secondary);
  opacity: 0.8;
}

/* Responsive styles */
@media (max-width: 992px) {
  .custom__input-search {
    min-width: 60vw;
  }
}

@media (max-width: 576px) {
  .custom__input-search {
    min-width: 85vw;
    padding-left: 30px;
  }
}
