/* frontend/src/blocks/register.css */

.register__container {
  width: 100%;
  /* Use the website's primary background color */
  background: var(--background-primary);
  padding: 0px;
  justify-content: center;
  display: flex;
}
